<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon/typhoon16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon/typhoon32.png"/>
    <link rel="icon" type="image/png" sizes="48x48" href="images/icon/typhoon48.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="images/icon/typhoon96.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="images/icon/typhoonicon96.png"/>
    <meta property="og:title" content="颱風防災資訊平台"/>
    <meta property="og:description" content="颱風的受災區一覽"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://silverfantacy.github.io/Disaster-Prevention/"/>
    <meta property="og:image" content="images/gust.jpg"/>
    <title>颱風防災資訊平台</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.css"/>
    <link href="css/all.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.2/tocas.js"></script>
  </head>
  <body>
    <div id="app" class="wrap">
      <div class="ts heading slate"><span class="header">颱風防災資訊平台</span><span class="description">防災災情及相關諮詢電話：87863119 分機8900~8907</span><a id="mapBtn" href="map.html" class="ts button"><i class="map icon"></i>Map</a>
        <select name="" v-model="area" class="ts fluid basic dropdown">
          <option value="全部">全部</option>
          <option value="萬華區">萬華區</option>
          <option value="中正區">中正區</option>
          <option value="大同區">大同區</option>
          <option value="中山區">中山區</option>
          <option value="大安區">大安區</option>
          <option value="南港區">南港區</option>
          <option value="文山區">文山區</option>
          <option value="松山區">松山區</option>
          <option value="信義區">信義區</option>
          <option value="士林區">士林區</option>
          <option value="北投區">北投區</option>
          <option value="內湖區">內湖區</option>
        </select>
        <div class="ts segmented list">
          <div class="selected item"> <span class="time">時間</span><span class="area">區域</span><span style="text-align: center" class="detail">描述</span><span style="text-align: center" class="location">位置</span></div>
          <div v-for="data in disasterData" v-if="filterArea(data)" class="item"><span class="time">{{data.CaseTime}}</span><span class="ts primary label area">{{data.CaseLocationDistrict}}</span><span class="detail">{{data.CaseDescription}}</span><span class="location">{{data.CaseLocationDescription}}</span></div>
        </div>
      </div>
    </div>
    <script src="js/vendors.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script src="js/all.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50701529-4', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>