extends layout.jade
block content
    a.ts.button#listBtn(href="index.html")
        i.unordered.list.icon
        | 列表
    #map
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGBgTYryuVxZBlDGdVN88dnoYWOMrjpQQ&callback=initMap')