extends layout.jade
block content
    script(type='text/javascript').
        window.name = 'map';
        //- console.log(window.name);
    a.ts.button#listBtn(href="index.html")
        i.unordered.list.icon
        | 列表
    #map
    